@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
.cFix:after{
  display: block;
  content: "";
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
#wrapper {
  width: 100%;
}
.inr {
  width: 880px;
  margin: 0 auto;
}
