@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
.cFix:after{
  display: block;
  content: "";
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
#wrapper {
  width: 100%;
}
.inr {
  width: 880px;
  margin: 0 auto;
}
/* for header and footer */
.menu {
  background: #EEEBEC;
  padding: 25px 0;
}
.menu .logo {
  float: left;
} 
.menu .contact-menu {
  float: right;
  padding-top: 20px;
}
.contact-menu ul li {
  width: 120px;
  float: left;
  list-style-type: none;
  text-align: center;
}
.contact-menu ul li a {
  text-decoration: none;
  color: #7a6666;
}
.contact-menu ul li a span {
  visibility: hidden;
}
.contact-menu ul li a:hover {
  color: #c8c10d;
}
.contact-menu ul li a:hover span {
  visibility: visible;
}
.contact-menu ul li a.menu-active,
.contact-menu ul li a.menu-active:hover {
  color: #cb3362;
}

/*----- start of about----- */

.bnr-section {
  background: #c8c10d;
}

.bnr-sec {
  max-width: 960px;
  margin: 0 auto;
}

.bnr-sec h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 30px 0;
}