@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.cFix:after{
  display: block;
  content: "";
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
#wrapper {
  width: 100%;
}
.inr {
  width: 880px;
  margin: 0 auto;
}
<<<<<<< HEAD
/*Product CSS*/
aside {
  width: 280px;
  float: left;
}
main {
  width: 560px;
}
h2 {
  color: #cb3362;
}
.product aside {
  margin-right: 38px;
  padding-top: 40px;
}
.product a {
  color: #7a6666;
}
.product a:hover {
  color: #c8c10d;
}
.product .content {
  padding-top: 60px;
}
.product .content ul li {
  margin-bottom: 160px;
}
/* for header and footer */
.menu {
  background: #EEEBEC;
}
.menu .logo {
  float: left;
} 
.menu .contact-menu {
  float: right;
}
.contact-menu ul li {
  float: left;
  list-style-type: none;
}
.contact-menu ul li a {
  text-decoration: none;
  color: #7a6666;
}
.contact-menu ul li a span {
  display: none;
}
.contact-menu ul li a:hover {
  color: #c8c10d;
}
.contact-menu ul li a:hover span {
  display: block;
}
.contact-menu ul li a.menu-active,
.contact-menu ul li a.menu-active:hover {
  color: #cb3362;
}

/*----- start of about----- */

.bnr-section {
  background: #c8c10d;
}

.bnr-sec {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}

.bnr-sec h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding:0;
}

.ctn-image {
  background: #ebebed;
  margin: 0 auto;
}

.ctn-image img {
  margin: 0 auto 0 200px;
}
